.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statistics {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}