.container {
    background-color: var(--container-color);
    height: 72px;
    display: flex;
    align-items: center;
}

.inner_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 40px;
}

.navigation {
    display: flex;
    gap: 20px;
}

.button {
    border: none;
    width: fit-content;
    padding-block: 8px;
    padding-inline: 16px;
    border-radius: 4px;
    background-color: var(--accent-color);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
}

.button p {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: #15803d;
}