.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex: 1;
    overflow-y: auto;
}

.sidebar_container {
    width: 30%;
    height: 100%;
    position: sticky;
    top: 0;
    align-self: flex-start;
    overflow-y: auto;
}

.content_container {
    max-height: 100%;
    width: 100%;
    margin-right: 40px;
}